@charset "UTF-8";
header {
    background: rgb(0,0,0);
    /*background-image: url("../CC_Theme/gradiente-bs.jpg");*/
    padding: 12px 10px;
}
h1.logo a {
    color: #d8d8d8;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 22px;
    float: left;
    letter-spacing: 0.2em;
    background-image: url("../CC_Theme/logo.png");
}
a.to_nav {
    float: right;
    color: #fff;
    background: rgb(0,0,0);
    /*background-image: url("../CC_Theme/gradiente-bs.jpg");*/
    text-decoration: none;
    padding: 0 10px;
    font-size: 12px;
    font-weight: bold;
    line-height: 22px;
    height: 22px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
 
a.to_nav:hover,
a.to_nav:focus {
    /*color: rgb(38,38,38);*/
    color: #e7cc71;
    /*background: #ccc;*/
}

/*a.ativo {
    background-color: #ccc;
    background-image: url("../CC_theme/dourado-bs.jpg");
}*/

nav li a#ativo{
    /*color: rgb(38,38,38);*/
    color: #e7cc71;
}

#primary_nav ul {
    list-style: none;
    background: rgb(0,0,0);
    /*background-image: url("../CC_Theme/gradiente-bs.jpg");*/
    padding: 6px 10px;
}
 
#primary_nav li a {
    display: block;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-family: 'FonteLogo';
    text-transform: uppercase;
    letter-spacing: 0.1em;
    letter-spacing: 0.1em;
    line-height: 2em;
    height: 2em;
    border-bottom: 1px solid #383838;
}
 
#primary_nav li:last-child a {
    border-bottom: none;
}
 
#primary_nav li a:hover,
#primary_nav li a:focus {
    /*color: rgb(38,38,38);
    background: #ccc;
    background-image: url("../CC_Theme/dourado-bs.jpg");*/
    color: #e7cc71;
}

@media only screen and (min-width: 765px) {
    a.to_nav {
        display: none;
    }
    
    #primary_nav {
        position: absolute;
        top: 1px;
        right: 0px;
        background: none;
    }
     
    #primary_nav li {
        display: inline;
    }
     
    #primary_nav li a {
        float: left;
        border: none;
        padding: 0 10px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }

    #primary_nav li.top {
        display: none;
    } 
}
